[submodule "libs/MTDP"]
	path = libs/MTDP
	url = https://github.com/KennthShang/MTDP.git
[submodule "libs/LoRAPrune"]
	path = libs/LoRAPrune
	url = https://github.com/aim-uofa/LoRAPrune.git
[submodule "libs/ProstT5"]
	path = libs/ProstT5
	url = https://github.com/mheinzinger/ProstT5.git
